name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:
  workflow_dispatch:
  # schedule: [cron: "40 1 * * *"]

permissions:
  contents: read

env:
  # Adapted from https://github.com/capnproto/capnproto/blob/v2/.github/workflows/quick-test.yml
  INSTALL_CLANG: |
    install_clang() {
      local clang=$1
      export DEBIAN_FRONTEND=noninteractive && sudo apt-get update && sudo apt-get install --no-upgrade --no-install-recommends -y clang-$clang libc++-$clang-dev libc++abi-$clang-dev libclang-rt-$clang-dev lld-$clang llvm-$clang
    }

jobs:
  bazel:
    name: Bazel on ${{matrix.os.name}}
    runs-on: ${{matrix.os.image}}
    strategy:
      fail-fast: false
      matrix:
        os: [
          { name: linux, arch: X64, image: ubuntu-24.04 },
          { name: linux-arm, arch: ARM64, image: ubuntu-24.04-arm },
          { name: macOS, arch: ARM64, image: macos-15 },
          { name: windows, arch: X64, image: windows-2025 },
        ]
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
      - name: Setup Linux
        if: startsWith(matrix.os.name, 'linux')
        run: eval "$INSTALL_CLANG" && install_clang 20
      - name: Setup Windows
        if: matrix.os.name == 'windows'
        run: echo "startup --output_user_root=C:/bzl" > user.bazelrc
      - name: Setup Mac
        if: matrix.os.name == 'macos'
        run: sudo xcode-select -s "/Applications/Xcode_16.3.app"
      - run: bazel --version
      - name: test
        run: |
            ${{startsWith(matrix.os.name, 'linux') && 'export CC=clang-20' || ''}}
            ${{startsWith(matrix.os.name, 'linux') && 'export CXX=clang++-20' || ''}}
            bazel test ... --verbose_failures --test_output=errors ${{matrix.os.name == 'macos' && '--xcode_version_config=tools/bazel:github_actions_xcodes' || ''}}


  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
      - name: Setup Linux
        run: eval "$INSTALL_CLANG" && install_clang 20
      - name: build
        run: |
            export CC=clang-20
            export CXX=clang++-20
            bazel build --config=clippy ... --verbose_failures

  asan:
    name: Address Sanitizer
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
      - name: Setup Linux
        run: eval "$INSTALL_CLANG" && install_clang 20
      - name: test
        run: |
            export CC=clang-20
            export CXX=clang++-20
            bazel test --config=asan ... --verbose_failures --test_output=errors

  clang-tidy:
    name: Clang Tidy
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
      - name: Setup Linux
        run: eval "$INSTALL_CLANG" && install_clang 20
      - name: Install clang-tidy
        run: sudo apt-get install clang-tidy-20 just
      - name: Bazel Build
        run: |
            export CC=clang-20
            export CXX=clang++-20
            just build

      - name: Generate compile.json
        run: just compile-commands

      - name: Run clang-tidy
        run: just clang-tidy
